<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
<!-- Brand Logo -->
<a href="/home" class="brand-link">
  <img src="https://s3.eu-west-3.amazonaws.com/invendocdn/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
  <span class="brand-text font-weight-light">caDOlog</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="https://s3.eu-west-3.amazonaws.com/invendocdn/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="/profile" class="d-block">Invendo LAB</a>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-2">

    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-header">Categories</li>
      <li class="nav-item">
        <a href="/tag1" class="nav-link">
          <i class="nav-icon fa fa-tag"></i>
          <p>
            Tag 1
            <span class="badge badge-info right">2</span>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/tag2" class="nav-link">
          <i class="nav-icon fa fa-tag"></i>
          <p>
            Tag 2
            <span class="badge badge-danger right">2</span>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/tag3" class="nav-link">
          <i class="nav-icon fa fa-tag"></i>
          <p>
            Tag 3
            <span class="badge badge-success right">2</span>
          </p>
        </a>
      </li>
      
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>