<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/home" class="brand-link">
    <img src="http://www.jenncarrollphotography.com/wp-content/uploads/2015/02/29-290-post/unicorn-logo-gold.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">caDOlog</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="<%= authProfile.profileUrl %>" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="/profile" class="d-block">
          <%= authProfile.fullName %>
        </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">

      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="tags">
        <li class="nav-header">Categories</li>
      </ul>
      <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">  
        </a>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<script>
  $(function () {
    $.get('/controller/getTags', function (res) {
      var data = JSON.parse(res);
      for (var i = 0; i < data.length; i++) {
        if(data[i].count != 0){
          $("#tags").append('<li class="nav-item">' +
          '<a href="#" class="nav-link">' +
          '<i class="nav-icon fa fa-tag"></i>' +
          '<p>' +
          data[i].tag.name +
          '<span class="badge badge-info right">' + data[i].count + '</span>' +
          '</p></a></li>');
        }
      }
    })
  })
</script>