<!DOCTYPE html>
<html lang="en">
<%- include('./components/header'); -%>

  <body class="hold-transition login-page">
    <div class="login-message-box">

    </div>
    <div class="login-box">
      <div class="login-logo">
        <a href="/login">ca
          <b>DO</b>log</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Reset your password</p>


          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" id="email">

          </div>

          <div class="row">

            <!-- /.col -->
            <div class="col-12">
              <button type="submit" onclick="forgotpassword()" class="btn btn-danger btn-block btn-flat">Send Password</button>
            </div>
            <!-- /.col -->
          </div>


          <p class="mb-0">
            <a href="signup" class="text-center">Register a new membership</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->

    <%- include('./components/scripts'); -%>

      <script>
        function forgotpassword() {
          console.log("a");
          var lockscreendata = {

            "email": $("#email").val()
          }
          $.ajax({
            type: 'POST',
            dataType: "json",
            data: JSON.stringify(lockscreendata),
            contentType: 'application/json; charset=utf-8',
            url: '/controller/forgotpassword',
            success: function (data) {
              console.log('111111');
              console.log(data);
              // $(".login-message-box").toggle();
              // $(".login-message-box").html(
              //   '<div class="alert alert-success alert-dismissible" style="display:block; margin: 10px;"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h5><i class="icon fa fa-ban"></i> Success!</h5>You are redirecting to the login page</div>'
              // );
              // $(".login-message-box").toggle(1500);

              // setTimeout(function () {
                window.location.href = "/login"; //will redirect to your blog page (an ex: blog.html)
              // }, 1500);
            },
            error: function (data) {
              console.log('2222');
              console.log(data);
              // $(".login-message-box").toggle();
              // $(".login-message-box").html(
              //   '<div class="alert alert-danger alert-dismissible" style="display:block; margin: 10px;"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h5><i class="icon fa fa-ban"></i> Alert!</h5>Ops! Something went wrong. Please try again.</div>'
              // );
              // $(".login-message-box").toggle(750);
            }
          });
        }
      </script>
  </body>

</html>