<!DOCTYPE html>
<html lang="en">
<%- include('./components/header'); -%>
<body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html">ca<b>DO</b>log</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Sign in to start your session</p>
    
          <form action="../../index2.html" method="post">
            <div class="form-group has-feedback">
              <input type="email" class="form-control" placeholder="Email">
              
            </div>
            
            <div class="row">
              
              <!-- /.col -->
              <div class="col-12">
                <button type="submit" class="btn btn-danger btn-block btn-flat">Send Password</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
    
          <p class="mb-0">
            <a href="signup" class="text-center">Register a new membership</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
    
    <%- include('./components/scripts'); -%>
    </body>
    </html>