<!DOCTYPE html>
<html lang="en">
<%- include('./components/header'); -%>

  <body class="hold-transition login-page">
      <div class="message-box-success" style="display: none">
          <div class="alert alert-success alert-dismissible" style="display:block; margin: 10px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              Your password reset link has been sent to your e-mail address. Please check your inbox!</div>
      </div>
      <div class="message-box-danger" style="display: none">
          <div class="alert alert-danger alert-dismissible" style="display:block; margin: 10px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              Your password reset link could not be sent to your e-mail address. Please try again later!</div>
      </div>
    <div class="login-box">
      <div class="login-logo">
        <a href="/login">ca
          <b>DO</b>log</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Reset your password</p>


          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" id="email">

          </div>

          <div class="row">

            <!-- /.col -->
            <div class="col-12">
              <button type="submit" onclick="forgotpassword()" class="btn btn-danger btn-block btn-flat">Send Password</button>
            </div>
            <!-- /.col -->
          </div>


          <p class="mb-0">
            <a href="signup" class="text-center">Register a new membership</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->

    <%- include('./components/scripts'); -%>

      <script>
        function forgotpassword() {
          var reset_email = {
            "email": $("#email").val()
          }
          $.ajax({
            type: 'POST',
            dataType: "json",
            data: JSON.stringify(reset_email),
            contentType: 'application/json; charset=utf-8',
            url: '/controller/forgotpassword',
            success: function (data) {
              $(".message-box-success").toggle(750, function () {
                setTimeout(function () {
                  $(".message-box-success").toggle(750);
                  window.location = "/login"
                }, 2500);
              });
            },
            error: function (data) {
              $(".message-box-danger").toggle(750, function () {
                setTimeout(function () {
                  $(".message-box-danger").toggle(750);
                }, 2500);
              });
            }
          });
        }
      </script>
  </body>

</html>