
<!DOCTYPE html>
<html lang="en">
<%- include('./components/header'); -%>

    <body class="hold-transition login-page">
        <div class="login-message-box">

        </div>
        <div class="login-box">
            <div class="login-logo">
                <a href="/login">ca<b>DO</b>log</a>
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Sign in to start your session</p>


                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" id="email" placeholder="Email">

                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" id="password" placeholder="Password">

                    </div>
                    <div class="row">

                        <!-- /.col -->
                        <div class="col-12">
                            <a onclick="login()">
                                <button type="submit" class="btn btn-danger btn-block btn-flat">Sign In</button>
                            </a>
                        </div>
                        <!-- /.col -->
                    </div>


                    <div class="social-auth-links text-center mb-3">
                        <p>- OR -</p>
                        <a href="#" class="btn btn-block btn-primary">
                            <i class="fa fa-linkedin mr-2"></i> Sign in using Linkedin
                        </a>
                    </div>
                    <!-- /.social-auth-links -->

                    <p class="mb-1">
                        <a href="/forgot-password">I forgot my password</a>
                    </p>
                    <p class="mb-0">
                        <a href="/signup" class="text-center">Register a new membership</a>
                    </p>
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
        <!-- /.login-box -->

        <%- include('./components/scripts'); -%>
            <script>
                function login() {
                    var loginData = {
                        "email": $("#email").val(),
                        "password": $("#password").val()
                    }
                    $.ajax({
                        type: 'POST',
                        dataType: "json",
                        data: JSON.stringify(loginData),
                        contentType: 'application/json; charset=utf-8',
                        url: '/controller/auth',
                        success: function (data) {
                            console.log(data);
                            $(".login-message-box").toggle();
                            $(".login-message-box").html(
                                '<div class="alert alert-success alert-dismissible" style="display:block; margin: 10px;"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h5><i class="icon fa fa-ban"></i> Success!</h5>Login successful. You are redirecting to the home page</div>'
                            );
                            $(".login-message-box").toggle(1500);

                            setTimeout(function () {
                                window.location.href = "/home"; //will redirect to your blog page (an ex: blog.html)
                            }, 1500);
                        },
                        error: function (data) {
                            console.log(data);
                            $(".login-message-box").toggle();
                            $(".login-message-box").html(
                                '<div class="alert alert-danger alert-dismissible" style="display:block; margin: 10px;"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h5><i class="icon fa fa-ban"></i> Alert!</h5>Ops! Something went wrong. Please try to check the email and password.</div>'
                            );
                            $(".login-message-box").toggle(750);
                        }
                    });
                }
            </script>
    </body>

</html>