.detail-header{
    text-align: center;
}

.detail-header-status{
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
}

.detail-header-edit{
    position: absolute;
    right: 0;
    z-index: 1;
}

.detail-header-title{
    font-size: 50px;
    font-weight: bold;
    display: block;
    margin-top: 30px;
}

.detail-header-sub-title{
    color:#5c5c5c;
}

.detail-header-tag{
    display: block;
    margin-top: 15px;
}

.detail-header-tag > a{
    padding: 0px 3px;
}

.dot {
    height: 11px;
    width: 11px;
    background-color: #35cd2a;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
}

.firm-info > .row{
    margin-bottom: 10px;
}

.mailbox-attachments{
    margin-top: 5px !important;
    overflow: auto;
    white-space: nowrap;
}

.mailbox-attachments > div{
    width: 200px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
}

.attachment-cover{
    max-height: 137px;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.update-input {
    border: 1px solid #f4f6f9;
    text-align: center;
    border-bottom-color: #ced4da;
    background-color: #f4f6f9;
}

.update-input-bottom {
    border: 1px solid #fff;
    text-align: left;
    border-bottom-color: #ced4da;
    background-color: #fff;
    margin-top: 10px;
}
